data:
  packages:
    - fish
    # sway stuff
    - sway
    - rofi
    - waybar
    - wob
    - dunst
    # terminal stuff
    - bob
    - yazi
  # Distro-specific extras
{{- if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.idLike "arch") }}
  distro_packages:
    - base-devel
    - paru
    - librewolf-bin
{{- else if eq .chezmoi.osRelease.id "ubuntu" "pop" "debian" }}
  distro_packages:
    - build-essential
    - eza
    - batcat
{{- else }}
  distro_packages: []
{{- end }}
